<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__header" >Ready to Get Started?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error,
          necessitatibus possimus placeat, et qui eum blanditiis sit deleniti
          ipsam ratione velit esse dolorum. Velit, labore.
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
    </div>
  </div>